POSTGRESQLDB_USERNAME=your_db_username
POSTGRESQLDB_ROOT_PASSWORD=your_db_password
POSTGRESQLDB_DATABASE=your_db
POSTGRESQLDB_LOCAL_PORT=5432
POSTGRESQLDB_DOCKER_PORT=5432

SPRING_LOCAL_PORT=8088
SPRING_DOCKER_PORT=8080

JWT_EXPIRATION=your_jwt_expiration
JWT_SECRET=your_jwt_secret

DEBUG_PORT=5005